.avatar{
    padding-left: 5px;
}

.avatar img {
    width: 41px;
    border-radius: 50%;
    height: 41px;
    object-fit: cover;
}

.avatar + div {
    padding-left: 22px;
    padding-right: 0;
    text-align: left;
}

.customer-name{
    color: blue;
    float: left;
}

.customer-info {
    cursor: pointer;
    position: relative;
    border-bottom: 1px solid #787878;
    float: left;
    padding: 12px 0 18px;
    border-bottom-style: dotted;
}

.customer-info:hover .delete-record{
    display: block;
}

.delete-record{
    display: none;
    position: absolute;
    top: 16px;
    right: 10px;
    color: black;
}

.customer-info.active .customer-name {
    font-weight: 700;
}

.small-info{
    float: left;
}